body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-container{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #93a9e5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper{
    /* border: 1px solid; */
    width: 80%;
    height: 80%;
    /* border-radius: 7px; */
    display: flex;
    padding: 0;
    box-shadow: 0 2px 5px 0px;
}

.section-1{
    border: 1px;
    padding: 15px;
    padding-left: 30px;
    background-color: #ffffff;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 50%;
}

.section-2{
    border: 1px;
    padding: 15px;
    padding-left: 30px;
    background-color: #4935d5;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 50%;
}

.title-1{
    margin-top: 25px;
    font-size: 25px;
    color: #5276a1;
    font-weight: 500;
}

.title-2{
    margin-top: 25px;
    font-size: 25px;
    color: #ffffff;
    font-weight: 500;
}

.select-1{
    margin: 10px auto;
    border: none;
    border-bottom: 2px solid #c9c9c9;
    height: 35px;
    width: 100%;
    padding-left: 30px;
}

.name{
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fName{
    padding-left: 30px;
    border: none;
    border-bottom: 2px solid #c9c9c9;
    width: 200px;
    height: 35px;
}

.lName{
    padding-left: 30px;
    border: none;
    border-bottom: 2px solid #c9c9c9;
    width: 200px;
    height: 35px;
}

.input-1{
    margin: 10px auto;
    border: none;
    border-bottom: 2px solid #c9c9c9;
    height: 35px;
    width: 95%;
    padding-left: 30px;
}

.input-2{
    margin: 10px auto;
    border: none;
    border-bottom: 2px solid #c9c9c9;
    height: 35px;
    width: 95%;
    padding-left: 30px;
    background: none;
    color: #c9c9c9;
}

.input-2::placeholder{
    color: #c9c9c9;

}

.fName-2::placeholder{
    color: #c9c9c9;

}

.lName-2::placeholder{
    color: #c9c9c9;

}

.name-2{
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fName-2{
    padding-left: 30px;
    border: none;
    border-bottom: 2px solid #c9c9c9;
    width: 150px;
    height: 35px;
    background: none;
    color: #c9c9c9;
}

.lName-2{
    padding-left: 30px;
    border: none;
    border-bottom: 2px solid #c9c9c9;
    width: 280px;
    height: 35px;
    background:none;
    color: #c9c9c9;
}

.select-2{
    margin: 10px auto;
    border: none;
    border-bottom: 2px solid #c9c9c9;
    height: 35px;
    width: 100%;
    padding-left: 30px;
    background: none;
    color: #c9c9c9;
}

.checkbox{
    color: #ffffff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.checkbox input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.check{
    margin-left: 35px;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    height: 25px;
    width: 25px;
    background: none;
    border: 1px solid #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .checkbox:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkbox input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .btn{
    margin-top: 30px;
    border: 1px;
    width: 200px;
    height: 35px;
    background-color: #ffffff;
    border-radius: 30px;
    font-weight: 700;
    box-shadow: -2px 2px 5px 0px;
  }